<template>
    <require from="./index.scss"></require>
    <section class="index">
        <side-bar expanded="true" hide_trigger.one-time="true" is_subnavigation="true">
            <header>
                <h1>Sentry</h1>
            </header>
            <menu-item navigate-to="#" text="Users">
                <menu-item navigate-to="#" text="Management"></menu-item>

            </menu-item>
            <menu-item navigate-to="#" text="Authentication"></menu-item>
            <menu-item navigate-to="#" text="Tenants">

            </menu-item>

            <footer>
            </footer>
        </side-bar>
    </section>
</template>